.info-tab div {
    background-color: #5f464e;;
    margin: 8px 8px;
    margin-bottom: 25px;
    padding: 8px 8px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.info-tab .active-tab {
    background-color: var(--panel-color);
}

.info-tab div:hover {
    background-color: var(--panel-color);
}